<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADFYA">
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".Safety"
            android:exported="false" />
        <activity
            android:name=".AdminMain"
            android:exported="false" />
        <activity
            android:name=".Alerts"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".CreateReport"
            android:exported="false" />
        <activity
            android:name=".ViewReport"
            android:exported="false" />
        <activity android:name=".ReportDetail"
            android:exported="false" />
        <activity
            android:name=".Status"
            android:exported="false" />
        <activity
            android:name=".Community"
            android:exported="false"
            android:theme="@style/Theme.MADFYA" />
        <activity
            android:name=".WaterTipDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:theme="@style/Theme.MADFYA" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GpsFullscreen"
            android:exported="false"/>
        <activity
            android:name=".EditLog"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKpVcdRNBIeAuFwjGCP7GACtP_VWsvWqU" />
    </application>

</manifest>